@import "tailwindcss";

:root {
  --background: #2A0026;
  --foreground: #ffffff;
  --primary: #A6352B;
  --primary-hover: #7d2820;
  --secondary: #FFE1A8;
  --secondary-hover: #fdd58b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-primary-hover: var(--primary-hover);
  --font-baloo: var(--font-baloo);
  --font-poppins: var(--font-poppins);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Baloo 2', 'Poppins', sans-serif;
}
